@font-face {
    font-family: 'MiFuente';
    src: url('./castlefire/Castlefire.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;*/
    margin: .01rem 0;
    padding: 0;
    height: 100vh;
}

a{
    text-decoration: none; /* Quita el subrayado */
  color: inherit;
}

.blanco{
    padding: 10px;
    height: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #62162f, #cc0000);
    color: #fff;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 77vh; /* Full viewport height */

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #fff;
    text-align: center;
    padding: 25px;

}



.background-video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    top: -35px;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

/*
.circulo1{
    height: 150px;
    width: 300px;
    background-color: #701006;
    color: #fff;
    text-decoration: none;
    border-radius: 100%;
    margin-left: 40%;
    
}
.circulo2{}

.cta {
    margin: 0 auto;
    height: 200px;
    width: 150px;
    padding: 30px 15px 30px 15px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 100%;
    margin-left: 45%;
}
*/

/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */

    position: relative;
    top: -80px;
}
  
  /* Estilos para el círculo externo (circulo1) */
  .circulo1 {
    width: 170px; /* Ancho del círculo */
    height: 170px; /* Alto del círculo */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  /* Estilos para el círculo interno (circulo2) */
  .circulo2 {
    width: 150px; /* Ancho del círculo interno */
    height: 150px; /* Alto del círculo interno */
    background-color: #e74c3c; /* Color de fondo del círculo interno */
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  /* Estilos para el enlace (cta) */
  .cta {
    text-decoration: none; /* Quita el subrayado del enlace */
    /*color: #ffffff;  Color del texto */
    color: black;
    text-shadow: 
        1px 1px 0 #D4AF37,
        -1px 1px 0 #D4AF37,
        1px -1px 0 #D4AF37,
        -1px -1px 0 #D4AF37,
        1px 0 0 #D4AF37,
        -1px 0 0 #D4AF37,
        0 1px 0 #D4AF37,
        0 -1px 0 #D4AF37;
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    position: relative;
    z-index: 2;
  }
  


.flame-container {
    display: flex;
    position: relative;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.content h1{

    padding: 80px;

}

.flame {
    width: 150px;
    height: auto;
    animation: flicker 1s infinite alternate;
    position: relative;
    top: 33px;
}

@keyframes flicker {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) scale(1.1);
        opacity: 0.9;
    }
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 20px;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.quienesSomos {
    max-width:1200px ;
    width: 95%;
    margin: 0 auto;
    padding: 40px 20px;
}

.quienesSomos_info{
    display: inline-block;

}

@media (min-width: 768px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.descripcion-quienesSomos h2{
    font-size: 45px;
    margin-bottom: 0;
    text-align: center;
    font-family: MiFuente;
    color: #D4AF37;
    text-shadow: 
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

.descripcion-quienesSomos h3{
    letter-spacing: 2px;
    margin-top: 0;
    text-align: center;
    font-family: MiFuente;
    /*color: #8B4513;*/
    color: #CC5500;
    text-shadow: 
        .5px .5px 0 black,
        -.5px .5px 0 black,
        .5px -.5px 0 black,
        -.5px -.5px 0 black,
        .5px 0 0 black,
        -1px 0 0 black,
        0 .5px 0 black,
        0 -.5px 0 black;
    
}

.texto__descripcion-quienesSomos{
    text-align: justify;
}


.titulo {
    text-align: center;
    font-size: 40px;
    margin: 50px auto 0;
}

.slider-box {
    max-width: 1280px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

.slider-box img{
    height: 600px;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 40s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: black;
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.slider-box img {
    width: 100%;
    border-radius: 10%;

}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .slider-box {
        width: 100%;
    }

    .texto {
        top: 50px;
        padding: 0;
    }

    .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p {
        font-size: 15px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero .cta {
        padding: 8px 16px;
    }

    .flame {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 40vh;
    }

    .texto h2 {
        font-size: 28px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero .cta {
        padding: 8px 16px;
    }

   

    form input, form textarea {
        width: 100%;
    }

    .titulo {
        font-size: 30px;
        margin: 30px auto 0;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 30vh;
    }

    .texto h2 {
        font-size: 24px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero .cta {
        padding: 6px 12px;
    }

  
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura según sea necesario */
    padding-bottom: 105px;
}

.mapGoogle {
    width: 600px; /* Ancho del div que contiene el mapa */
    height: 450px; /* Alto del div que contiene el mapa */
    position: relative; /* Ajusta el posicionamiento según tus necesidades */
}



/*Tarjeta De Menu*/

.menu {
    text-align: center;
}

.menu h2{
    color: #D4AF37;
    text-shadow: 
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

a{
    text-decoration: none;
}

.imagen1{
    background: url(imagenes/imagen5.jpg) center;
    background-size: cover;
}

.imagen2{
    background: url(imagenes/imagen6.jpg)center;
    background-size: cover;
}

.imagen3{
    background: url(imagenes/imagen7.jpg)center;
    background-size: cover;
}

.imagen4{
    background: url(imagenes/imagen8.jpg)center;
    background-size: cover;
}

.column4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.tarjeta-rest{
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 6px;
    padding: 1rem .5rem;
    display: flex;
    align-items: end;
}

.wrap-text_tarjeta-rest{
    color: #FFF;
    padding: .5rem;
    border-radius: 6px;
    background: linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5))
}


.wrap-text_tarjeta-rest p{
    color: #f2f2f2;
    text-shadow: 
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

.wrap-text_tarjeta-rest h3{
    color: #D4AF37;
    text-shadow: 
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;

}

.cta-wrap_tarjeta-rest{
    display: flex;
    justify-content: space-between;

}

.precio_tarjeta-rest span{
    font-size: 1.5rem;
    font-weight: bold;
}

.cta_tajeta-rest{
    background-color: #FFC300;
    padding: .25rem 1rem;
    border-radius: 5px;
}


.cta_tajeta-rest a{
    color: #FFF;
    font-weight: bold;
}

@media (max-width:1024px){
    .column4{
        grid-template-columns: repeat(3, 1fr);
    }

    .mapa{
        height: 50%;
        padding-bottom: 50%;
    }

    iframe{
        width: 98%;
        
    }
}


@media (max-width:768px){
    .column4{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px){
    .column4{
        grid-template-columns: repeat(1, 1fr);
    }
}


/*Menu*/

.boton{
    
    height: auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}

button{
    align-items: center;
    text-align: center;
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}


@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}


/*Menu HTML*/





/*
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
*/
