* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
    scroll-behavior: smooth;
}



@font-face {
    font-family: 'MiFuente';
    src: url('./castlefire/Castlefire.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: .01rem 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.web {
    /*background: skyblue;*/
    width: auto;
}

.blanco {
    padding: 10px;
    height: auto;
    width: 100%;

}


header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #62162f, #cc0000);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}


.logo {
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0 #D4AF37, -1px 1px 0 #D4AF37, 1px -1px 0 #D4AF37, -1px -1px 0 #D4AF37, 1px 0 0 #D4AF37, -1px 0 0 #D4AF37, 0 1px 0 #D4AF37, 0 -1px 0 #D4AF37; 
}

.hamburger {
    display: none;
}

.nav-bar ul {
   /* display: flex;*/
}


.nav-bar ul li a {
    display: block;
    color: black;
    text-shadow: 1px 1px 0 #D4AF37, -1px 1px 0 #D4AF37, 1px -1px 0 #D4AF37, -1px -1px 0 #D4AF37, 1px 0 0 #D4AF37, -1px 0 0 #D4AF37, 0 1px 0 #D4AF37, 0 -1px 0 #D4AF37;
    font-size: 18px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 4px;
    border-radius: 50px;
    /*transition: 0.2;*/
    margin: 0 5px;
}


.nav-bar ul li a:hover {
    color: #D4AF37;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
    background: #fefefe;
}

.nav-bar ul li a.active {
    background: #fefefe;
    color: #D4AF37;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }

}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #000000;
        /*transition: 0.5s;*/
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        /*transition: 0.5s;
        opacity: 0;*/

    }

    .nav-bar.active {
        opacity: 1;
        z-index: 1000;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: red;
        z-index: 1000;

    }



}




.hero {
    position: relative;
    height: 100%;
    /* Full viewport height */

    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: #fff;
    text-align: center;
    padding: 25px;

}

.content {
    position: relative;
    z-index: 2;
    top: -35px;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}


.container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */

    position: relative;
    top: -52px;
    width: 16%;
    margin: 0 auto;
}

.container2 {
    top: 72px;
}


.circulo1 {
    width: 170px;
    /* Ancho del círculo */
    height: 170px;
    /* Alto del círculo */
    background-color: #ffffff;
    /* Color de fondo */
    border-radius: 50%;
    /* Hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* Estilos para el círculo interno (circulo2) */
.circulo2 {
    width: 150px;
    /* Ancho del círculo interno */
    height: 150px;
    /* Alto del círculo interno */
    background: radial-gradient(circle, #62162f 1%, #cc0000);
    /*linear-gradient(to bottom right, #62162f, #cc0000);  Color de fondo del círculo interno */
    border-radius: 50%;
    /* Hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* Estilos para el enlace (cta) */
.cta {
    text-decoration: none;
    /* Quita el subrayado del enlace */
    /*color: #ffffff;  Color del texto */
    color: black;
    text-shadow:
        1px 1px 0 #D4AF37,
        -1px 1px 0 #D4AF37,
        1px -1px 0 #D4AF37,
        -1px -1px 0 #D4AF37,
        1px 0 0 #D4AF37,
        -1px 0 0 #D4AF37,
        0 1px 0 #D4AF37,
        0 -1px 0 #D4AF37;
    font-size: 18px;
    /* Tamaño del texto */
    font-weight: bold;
    /* Negrita */
    position: relative;
    z-index: 2;
}



.flame-container {
    display: flex;
    position: relative;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.content h1 {

    padding: 80px;

}

.flame {
    width: 160px;
    height: auto;
    /*animation: flicker 1s infinite alternate;*/
    position: relative;
    top: 33px;
}


section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}


footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.foot {
    padding: 0px;
    background-color: transparent;
    color: #fff;
    text-align: start;
}

footer .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.foot .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}


.quienesSomos {
    width: 1201px;
    width: 100%;
    margin: 0px auto;
    /* padding: 0 20px; */
    padding-top: 1%;
    text-align: center;
}

.quienesSomos-Puertas {
    height: 150px;
    width: 150px;
    border-radius: 50%;


}

.quienesSomos_info {
    display: inline-block;
    text-align: center;
    width: 520px;
    flex: 1;
    margin: 0 25px;

}

.imagenesContenedor {
    display: flex;
    justify-content: space-around;
    /* Ajusta el espaciado entre las imágenes */
    align-items: center;
    /* Alinea verticalmente las imágenes */
}

.imagenInfo img {
    width: 200px;
    /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    /* Mantiene la proporción de las imágenes */
}




.descripcion-quienesSomos h2 {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 38px;
    text-align: center;
    font-family: MiFuente;
    color: #D4AF37;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

.descripcion-quienesSomos h3 {
    letter-spacing: 2px;
    margin-top: 0;

    text-align: center;
    font-family: MiFuente;
    /*color: #8B4513;*/
    color: #CC5500;
    text-shadow:
        .5px .5px 0 black,
        -.5px .5px 0 black,
        .5px -.5px 0 black,
        -.5px -.5px 0 black,
        .5px 0 0 black,
        -1px 0 0 black,
        0 .5px 0 black,
        0 -.5px 0 black;

}

.texto__descripcion-quienesSomos {
    text-align: justify;
    padding-top: 0%;
    font-size: 17px;
}

.quienesSomos-video {

    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    ;
    width: 75vh;
    border: 10px ridge black;

}



.slider-box {
    width: auto;
    height: auto;
    margin: 18px auto;
    overflow: hidden;
    border-style: 1px solid black;
    /*Trabajar en el borde*/
}

.slider-box-imagenes {
    width: 100%;
    height: auto;
    margin: -193px auto;
    overflow: hidden;
}

.slider-box img,
.slider-box-imagenes img {
    height: 519px;
}

.slider-box ul,
.slider-box-imagenes ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 400%;
    /*animation: slide 40s infinite alternate ease-in-out;*/
}

.slider-box-imagenes ul {
    animation: slide 25s infinite alternate ease-in-out;
}

.slider-box li,
.slider-box-imagenes li {
    width: 100%;
    list-style: none;
    position: relative;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: black;
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.slider-box img,
.slider-box-imagenes img {
    width: 100%;
    /*border-radius: 10%;*/

}



.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 105px;
    z-index: 1000;
}

.mapGoogle {
    width: 600px;
    /* Ancho del div que contiene el mapa */
    height: 347px;
    /* Alto del div que contiene el mapa */
    position: relative;
    /* Ajusta el posicionamiento según tus necesidades */
    box-shadow: 0 0 40px rgba(36, 219, 19, 0.7);
    animation: destello 2s infinite;
    pointer-events: none;
}




/*Tarjeta De Menu*/

.menu {
    text-align: center;
    width: auto;
    padding: 73px;
}

.menu h2 {
    color: #D4AF37;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

a {
    text-decoration: none;
}

.imagen1 {
    background: url(imagenes/IMG_4796.JPG) no-repeat;
    background-position: 50% center;
    background-size: cover;
}

.imagen2 {
    background: url(imagenes/imagen6.jpg)center;
    background-size: cover;
}

.imagen3 {
    background: url(imagenes/paellaDePollo.jpg)center;
    background-size: cover;
}

.imagen4 {
    background: url(imagenes/pescado.jpg)center;
    background-position: 60% center;
    background-size: cover;
}

.column4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.wrap {
    width: 100%;
    margin: 30px auto;
}

.tarjeta-rest {
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 6px;
    padding: 1rem .5rem;
    display: flex;
    align-items: end;
}

.wrap-text_tarjeta-rest {
    color: #FFF;
    padding: .5rem;
    border-radius: 6px;
    background: linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5));
    width: 100%;
}


.wrap-text_tarjeta-rest p {
    color: #f2f2f2;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;
}

.wrap-text_tarjeta-rest h3 {
    color: #D4AF37;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 0 0 black,
        -1px 0 0 black,
        0 1px 0 black,
        0 -1px 0 black;

}

.cta-wrap_tarjeta-rest {
    display: flex;
    justify-content: space-between;

}

.precio_tarjeta-rest span {
    font-size: 1.5rem;
    font-weight: bold;
}

.cta_tajeta-rest {
    background-color: #FFC300;
    padding: .25rem 1rem;
    border-radius: 5px;
}


.cta_tajeta-rest a {
    color: #FFF;
    font-weight: bold;
}




/*Menu*/

.boton {

    height: auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}

button {
    align-items: center;
    text-align: center;
    width: 200px;
    height: 70px;
    background: linear-gradient(to bottom, #62162f, #cc0000);
    border-style: none;
    color: #fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

button span {
    position: absolute;
    display: block;
}



button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}


button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}


button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

button:hover span {
    animation-play-state: paused;
}



.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;

}

.botonCelular {
    display: none;
}

/* Asegúrate de que .contactanosFranja esté en el fondo */
.contactanosFranja {
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20210604/pngtree-luxury-black-background-with-shiny-dots-image_725940.jpg');
    color: white;
    margin-bottom: 47px;
    padding: 15px;
    width: 100%;
    position: relative;
    z-index: 1;
}



.item2 {
    padding: 5px;
    /*border: -3px solid white;*/
    height: 333px;
    width: 400px;
    position: absolute;
    /*      left: 1184px;
    bottom: -10482px;*/
    z-index: 1000;
    margin: 0 0 -367px 197px;
    /*top: 2487px;*/
}


.contactanosFranja__Info-Tarjeta {
    margin: 10px auto 10px;
    padding: 8px;
    font-size: 19px;
    /* text-align: center; */
    width: 266px;
}



.rombo {
    width: 115px;
    height: 115px;
    border: 4px solid #FFC300;
    /* Color inicial del borde */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centrar el texto */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transform: rotate(45deg);
    /* Rotar el div para formar el rombo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra opcional */
    animation: borderColorChange 3s infinite;
    /* Aplicar la animación */
    left: -47px;
    /* Ajuste de posición */
}

.rombo span {
    transform: rotate(-45deg);
    /* Rotar el texto para que esté horizontal */
}


.horario {
    margin: 23px auto;
    padding: 20px;
    background-color: #dbdcdd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
    text-align: center;
    width: 300px;
}

.horario h2 {
    background: linear-gradient(90deg, #FFD700, #FFEC8B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow:
        0.1px 0.1px 0px #000,
        -0.1px -0.1px 0px #000,
        0.1px -0.1px 0px #000,
        -0.1px 0.1px 0px #000,
        0.1px 0px 0px #000,
        0px 0.1px 0px #000,
        -0.1px 0px 0px #000,
        0px -0.1px 0px #000;
}




.dia {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nombreDia,
.horarioDia {
    margin: 0 10px;
    font-weight: bold;
    color: #333;
}

.fanjaTama {
    height: 286px;
    position: relative;
    top: -326px;
    z-index: -1;
    margin-bottom: -300px;
}

.medida {
    font-size: 18px;
    background: #cc0000;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.banderas{
    width: 30px;
}

/***********************************/

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: transparent;
    text-decoration: none;
}


.menu-horizontal > li:hover{ /*MODIFICAR*/
    /*background-color: red;*/ 
}

/*Aqui empieza lo bueno*/
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background: linear-gradient(to bottom, #62162f, #cc0000); /*MODIFICAR*/
    z-index: 1000;
}

/*Despliega el menu para abajo*/
.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background: linear-gradient(to bottom, #cc0000, #62162f);
    
}

.menu-vertical li a{
    display: block;
   /* color: transparent; MODIFICAR*/
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.menu-vertical li a:hover{
    background: transparent;
}


.menuIdiomas{
    width: 60px;
    text-align: center;
}

.boton .wrapper button a{
    color: black;
    text-shadow: 1px 1px 0 #D4AF37, -1px 1px 0 #D4AF37, 1px -1px 0 #D4AF37, -1px -1px 0 #D4AF37, 1px 0 0 #D4AF37, -1px 0 0 #D4AF37, 0 1px 0 #D4AF37, 0 -1px 0 #D4AF37;

}

.boton .wrapper button a:hover{
    color: #D4AF37;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
    
}

/**********************@keyFrame****************************************************/


@keyframes flicker {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-10px) scale(1.1);
        opacity: 0.9;
    }
}


@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@keyframes destello {
    0% {
        box-shadow: 0 0 5px rgb(0, 0, 255);
    }

    50% {
        box-shadow: 0 0 20px rgb(240, 94, 138);
    }

    100% {
        box-shadow: 0 0 5px rgb(0, 0, 255);
    }
}

@keyframes span1 {
    0% {
        left: -200px
    }

    100% {
        left: 200px;
    }
}

@keyframes span3 {
    0% {
        right: -200px;
    }

    100% {
        right: 200px;
    }
}

@keyframes span2 {
    0% {
        top: -70px;
    }

    100% {
        top: 70px;
    }
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }

    100% {
        bottom: 70px;
    }
}


@keyframes borderColorChange {
    0% {
        border-color: #FFC300;
        /* Color amarillo */
    }

    50% {
        border-color: #8b0101;
        /* Color rojo */
    }

    100% {
        border-color: #FFC300;
        /* Regresa a color amarillo */
    }
}




/******MEDIA EFECTO******************************************/


@media (max-width: 2800px) {

    .mapGoogle {
        width: 600px;
        /* Ancho del div que contiene el mapa */
        height: 310px;
        /* Alto del div que contiene el mapa */
        position: relative;
        /* Ajusta el posicionamiento según tus necesidades */
        box-shadow: 0 0 40px rgba(36, 219, 19, 0.7);
        animation: destello 2s infinite;
        pointer-events: none;
    }


    .web {
        width: 1100px;
        margin: 0 auto;
        /*background: skyblue;*/
    }

    .container2 {
        position: relative;
        top: 80px;

    }

    .quienesSomos-video {
        margin: 0;
        padding: 0;
        display: block;
        height: 306px;
        width: 491px;
        border: 10px ridge black;
    }

    .botonCelular {
        display: none;
    }

    .item2 { /*Duplicar*/
        padding: 5px;
        /*border: -3px solid white;*/
        height: 326px;
        width: 400px;
        position: absolute;
        /*      left: 1184px;
        bottom: -10482px;*/
        z-index: 1000;
        margin: -19px 0px 0px 743px;
        /*top: 2487px;*/
    }

    .contactanosFranja__Info-Tarjeta { /*Duplicar*/
        margin: 10px;
        padding: 8px;
        font-size: 19px;
        position: relative;
        left: 258px;
        text-align: start;
      }

    .rombo {
        width: 115px;
        height: 115px;
        border: 4px solid #FFC300;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        transform: rotate(45deg);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: borderColorChange 3s infinite;
        left: -111px;
    }

    .quienesSomos {
        width: 1077px;
        margin: 89px auto;
        /*padding: 0 20px;
        padding-top: 1%;*/
        text-align: center;
    }


    .menu {
        text-align: center;
        width: auto;
        padding: 43px;
        margin-top: -65px;
    }

    .slider-box {
        width: 497px;
        /*height: auto;
        margin: 18px auto;
        overflow: hidden;
        border-style: 1px solid black;*/
    }

    .quienesSomos_info {
        display: inline-block;
        text-align: center;
        width: 471px;
        flex: 1;
        margin: 0 25px;
    }

    .slider-box ul {
        display: flex;
        padding: 0;
        margin: 0;
        width: 367px;

    }

    iframe {/*Duplicar*/
        width: 100%;
        height: 348px;
    }

}


@media (max-width: 1000px) {
    

    .circulo1 {
        width: 170px;
        height: 170px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .web {
        width: 370px;
        margin: 0 auto;
        /*background: skyblue;*/
    }



    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -52px;
        width: 16%;
        margin: 0 auto;
    }

    .slider-box img,
    .slider-box-imagenes img {
        width: 100%;
        height: 100%;
    }



    .hero {
        position: relative;
        height: 34%;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        padding: 25px;
    }

    .descripcion-quienesSomos {
        position: relative;
        top: 0px;
        margin: 0px 21px 69px 20px;
      }

    .horario {
        margin: 40px auto;
        padding: 20px;
        background-color: #dbdcdd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
        text-align: center;
        width: 300px;
    }



    .menu {
        text-align: center;
        width: 300px;
        /*margin: -7px auto;
        position: relative;
        top: -42%;*/
    }



    .rombo {
        display: none;
    }

    .container2 {
        margin-top: 219px;
    }

    .flame {
        width: 92px;
        height: auto;
        position: relative;
        top: 4px;
    }

    .quienesSomos {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -36%;
        text-align: justify;
        width: 368px;
        margin: 1px;
      }

    .quienesSomos-video {
        margin: 0;
        padding: 0;
        display: block;
        height: 232px;
        width: 369px;
        border: 10px ridge black;
      }

      .quienesSomos_info {
        display: inline-block;
        text-align: center;
        width: 375px;
        flex: 1;
        margin: 0px 0px;
      }

    .slider-box {
        width: 100%;
        height: auto;
        margin: 18px auto;
        overflow: hidden;
    }

    .slider-box ul,
    .slider-box-imagenes ul {
        display: flex;
        padding: 0;
        margin: 0;

    }

    .wrap {
        display: flex;
        flex-direction: column;
    }

    .item2 {
        padding: 5px;
        border: -3px solid white;
        height: 333px;
        width: 378px;
        position: static;
        margin: 0 auto;
        margin-bottom: 39px;
        z-index: 1000;
    }

    iframe {
        width: 100%;
    }

    .botonPantatalla {
        display: none;
    }

    .botonCelular{
        display: block;
    }

    .contactanosFranja__Info-Tarjeta {
        margin: 10px;
        padding: 8px;
        font-size: 19px;
        position: relative;
        left: 50px;
    }


    .tarjeta-rest {
        background-repeat: no-repeat;
        height: 291px;
        border-radius: 6px;
        padding: 1rem .5rem;
        display: flex;
        align-items: center;
        width: 242px;
    }

    .dosImg, .unaImg {
        display: block;
        justify-content: center;
        margin-bottom: 10px;
      }


}